<side-bar></side-bar>
<section id="drawer" role="region" ng-class="{'show': showDrawer}" >
	<app-header></app-header>

	<div class="jumbotron text-center">
		<p>This page shows an example of a web activity using "MozActivity".</p>
		<div>The MozActivity interface allows apps to delegate an activity to another app.</div>
		<p>
			<a id="add-contact" class="btn btn-primary btn-lg" href="#" role="button">Add Contact Info »</a>
		</p>

		Web activity reponse:
		<pre>{{response}}</pre>
	</div>
</section>